@import '../../../common/styles/mixins';
@import '../../../common/styles/variables';

.root-wrapper {
  @include flexbox();
  @include flex-direction(column);
  @include flex(1);
  position: relative;
  width: 675px;
  height: 400px;

  &__content {
    @include flexbox();
    @include flex-direction(column);
    @include align-items(center);
    @include justify-content(center);
    @include flex(1);
    padding: 20px;
  }
}